<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='/favicon.ico') }}" rel="icon">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>News App</title>
    <style>

    </style>
</head>

<body>

    {% block navbar %}

    <div class="container-fluid" style="background-color: #000;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">

            <!--  Show this only on mobile to medium screens  -->
            <a class="navbar-brand d-lg-none" href="{{ url_for('home') }}"><b class="lg"><span class="logo">News</span>
                    Hub</b></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--  Use flexbox utility classes to change how the child elements are justified  -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('articles') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sources') }}">Sources</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('business') }}">Business</a>
                            <a class="dropdown-item" href="{{ url_for('tech') }}">Technology</a>
                            <a class="dropdown-item" href="{{ url_for('entertainment') }}">Entertainment</a>
                            <a class="dropdown-item" href="{{ url_for('science') }}">Science</a>
                            <a class="dropdown-item" href="{{ url_for('sports') }}">Sport</a>
                            <a class="dropdown-item" href="{{ url_for('health') }}">Health</a>
                        </div>
                    </li>
                </ul>


                <!--   Brand Title   -->
                <a class="navbar-brand d-none d-lg-block" href="{{ url_for('home') }}"><b class="lg">
                        <svg width="35" height="35" style="color: red; margin-right:5px;"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M16 2h4v15a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V0h16v2zm0 2v13a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4h-2zM2 2v15a1 1 0 0 0 1 1h11.17a2.98 2.98 0 0 1-.17-1V2H2zm2 8h8v2H4v-2zm0 4h8v2H4v-2zM4 4h8v4H4V4z"
                                fill="red"></path>
                        </svg>
                        <span class="logo">News</span> Tracker</b>
                </a>

                <ul class="navbar-nav">

                    {% if session.user %}
                    <!-- Set Preferences -->
                    <li class="nav-item" onclick="openForm()">
                        <a class="nav-link" href="#">
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                                viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);">
                                <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path>
                                <path
                                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
                                </path>
                            </svg>
                            Set Preferences
                        </a>
                    </li>

                    <div class="form-popup" id="myForm">
                        <form action="{{url_for('user.set_pref')}}" class="form-container" method="post">
                            <h3 style="text-align: center;color: red;">Set Preferences</h3>

                            <input type="checkbox" name="user_pref" value="Business" id="biz">
                            <label for="biz"> Business</label><br>

                            <input type="checkbox" name="user_pref" value="Technology" id="tech">
                            <label for="tech"> Technology</label><br>

                            <input type="checkbox" name="user_pref" value="Entertainment" id="ent">
                            <label for="ent"> Entertainment</label><br>

                            <input type="checkbox" name="user_pref" value="Science" id="sci">
                            <label for="sci"> Science</label><br>

                            <input type="checkbox" name="user_pref" value="Sport" id="sport">
                            <label for="sport"> Sport</label><br>

                            <input type="checkbox" name="user_pref" value="Health" id="health">
                            <label for="health"> Health</label><br>

                            <button type="submit" class="btn login-btn">Save</button>
                            <button type="button" class="btn cancel-btn" onclick="closeForm()">Cancel</button>
                        </form>
                    </div>
                    {% endif %}

                    <li class="nav-item">
                        {% if session.user %}
                        <a class="nav-link" href="#">
                            <svg onclick="logOutForm()" class=" svg" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" width="35" height="35" style="fill: rgb(255, 0, 0);">
                                <path
                                    d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z">
                                </path>
                                <path
                                    d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z">
                                </path>
                            </svg>
                        </a>
                        <div class="form-popup" id="logOutForm">
                            <div class="form-container">
                                <p style="font-size: medium;"><strong> <span style="color:red;">UserName: </span>
                                        {{session.user.username}}</strong></p>
                                <a href="{{url_for('auth.logout')}}"><button class="btn cancel-btn"
                                        style="width: 100%;">LogOut</button> </a>
                            </div>
                        </div>
                        {% else %}
                        <a class="nav-link" href="{{url_for('auth.login')}}">
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="35"
                                height="35" style="fill: rgba(255, 255, 255, 1);">
                                <path
                                    d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z">
                                </path>
                                <path
                                    d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z">
                                </path>
                            </svg> Log In / Register
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    <div class="text-center container-fluid footer">
        <a href="/" style="text-decoration: none;color: white;">
            <svg width="20" height="20" style="color: red; margin-right:5px;" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                    d="M16 2h4v15a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V0h16v2zm0 2v13a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4h-2zM2 2v15a1 1 0 0 0 1 1h11.17a2.98 2.98 0 0 1-.17-1V2H2zm2 8h8v2H4v-2zm0 4h8v2H4v-2zM4 4h8v4H4V4z"
                    fill="red"></path>
            </svg>
            <strong> <span style="color:red;">News</span> Tracker</strong>
        </a>
    </div>

    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        // function populateForm() {
        //     let session = {{session|tojson}};
        //     console.log(session);
        //     document.getElementById()
        // }

        function logOutForm() {
            var element = document.getElementById("logOutForm");
            if (element.style.display == "block")
                element.style.display = "none";
            else
                element.style.display = "block";
        }
    </script>
</body>

</html>