<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body style="background-color:#f1ffc4">
    <div class="container">
        <form action="http://127.0.0.1:5000/reset_pass/{{ user_mail }}" method="post">
          <div class="mb-3">
            <label for="newp" class="form-label">New password    :</label>
            <input type="text" class="form-control" id="newp" name="newp">
          </div>
          <button type="submit" class="btn btn-primary" onclick="alert('Password updated')">Submit</button>
        </form>      
      </div>
</body>
</html>