body {
  margin: 10px 20%;
  background-color: rgb(211, 243, 243);
}
.head {
  margin: 0 10%;
  display: flex;
  align-items: center;
}
.dp,
.intro {
  padding: 3%;
}
.about h3,
.connect h3 {
  text-align: center;
}
.about {
  margin-top: 3%;
  margin-bottom: 10%;
  text-align: center;
  font-size: medium;
}

.edu,
.cert,
.skills,
.connect {
  margin-top: 5%;
}
